* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #7a7875, #5a4c41, #916b50, #583f2b, #4d2e13);
  background-size: 400% 400%;
  animation: gradientBG 20s ease infinite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradientBG {
  0% { background-position: 0% 100%; }
  50% { background-position: 100% 0%; }
  100% { background-position: 0% 100%; }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.login-box, .logs-box {
  position: relative;
  color: #fff;
}

.login-box h2, .logs-box h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.user-box {
  position: relative;
  margin-bottom: 30px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  caret-color: #ff9671;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #ff9671;
  font-size: 12px;
}

.login-button {
  background: #ff9671;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
  width: 100%;
  max-width: 200px;
}

.login-button:hover {
  background: #ff587f;
}

.login-button:focus {
  outline: none;
}

.logs-box ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.logs-box ul li {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #fff;
}